/* TAG ELEMENTS */

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Dancing Script', cursive;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom:10px;
}

h3 {
  font-family: 'Lato', sans-serif;
  color:#11999E;
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-width: 9px;
  border-color: #EAF6F6;
  margin: 100px auto;

}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Lato', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

/* CLASSES */

.dev {
  text-decoration: underline;
}

.main-container {
  display: flex;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  margin: 0 1px;
  padding: 50px 0 20px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}



.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-pic {
  width: 150px;
  height: 150px;
}

.skill-img-one {
  border-radius: 20px;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.skill-img-two {
  float: right;
  margin-left: 30px;
  width: 25%;
}
.intro-text {
  width: 30%;
  margin:auto;
  text-align: left;
  }

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn-contact-me {
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: 'Lato', sans-serif;
   font-size: 12px;
   font-weight: 600;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 50px;
   background-color: #11999E;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn-contact-me:hover {
   border: solid #24C654 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   text-decoration: none;
}
